/*global*/
:root{
    --primary: rgb(43, 43, 43);
    --secondary: #dedede;
    --text: rgb(202, 24, 60);
}
*{
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
p {
    padding: .5rem;
}
h1, h2, h3 {
    margin: 1rem;
    /* text-align: center; */
}

h1 {
    color: var(--primary);
    text-shadow: 1px 1px 3px rgb(250, 250, 250);
    text-transform: uppercase;
    text-align: center;
  }

h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.1rem;
    text-align: center;
}

/* header */
.site-header{
    display: flex;
    flex-direction: row;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    padding-left: 10rem;
    padding-top:1rem;
    height: 15rem;
}
.site-header img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 8px solid var(--secondary);
    padding: 1px;
    filter: grayscale(30%);
}

.header-text {
    margin-left: 10rem;
    margin-top: 1rem;
    color: var(--secondary);
}
.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.divider {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
}

/* icons */
i {
    font-size: 30px;
    margin-left: 5px;
}
.fa-html5 {
    color: #F75421;
}
.fa-css3-alt {
    color: #2091EB;
}
.fa-square-js {
    color: #EFD81D;
}
.fa-react {
    color: #63DAFC;
}

/* projects */
.projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
@media(max-width: 768px){
    .services-container{
        display: block;
    }
}
.project {
    background-color: var(--secondary);
    margin: 1rem;
    width: 18rem;
    border: 1px solid var(--primary);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    /* text-align: center; */
}
.project img {
    width: 16rem;
    height: 10rem;
    border: .5px solid var(--primary);
    /* text-align: center; */
}

.center {
    text-align: center;
}

.zoom {
    transition: transform .2s;
    text-align: center;
}
  .zoom:hover {
    transform: scale(1.8);
}

/* footer */
.footer-site{
background-color: var(--primary);
color: var(--secondary);
font-size: 1rem;
text-align: center;
padding: 1rem 0;
margin-top: 1rem;
}